<html>
    <head>
        <title></title>
    </head>
    <body>
        {% extends "layout.html" %} {% block body %}
        <div class="well">
            <h2>
                Welcome to flush, FLask based Url SHortener!
            </h2>
            <form action="shorten" method="post" class="form-inline">
                <fieldset>
                    <label for="name">Url to shorten:</label>
                    <input type="text" name="url" value="{{url}}">
                    <label for="proposed_name">Proposed short version (optional):</label>
                    <input type="text" name="proposed_name" value="{{proposed_name}}">
                    <button type="submit" class="btn">Submit</button>
                </fieldset>
            </form>
        </div>{% endblock %}
    </body>
</html>