{% extends "layout.html" %}
{% block body %}
  <ul class=entries>
  {% for url in urls %}
    <li class="url_item">{{ url.key }} => <a href={{url.full_url}}>{{url.url}}<a/> <a href="{{url.info_url}}" style="display:none" class="info_link">Info</a>
  {% else %}
    <li><em>Unbelievable.  No urls here so far</em>
  {% endfor %}
  </ul>
  {% endblock %}
  {% block script %}
  <script type="text/javascript">
    $('.url_item').hover(function(){
        $(this).find('.info_link').show();
        console.log(this);
    },function(){
        $(this).find('.info_link').hide();
    });
  </script>
{% endblock %}